@font-face {
  font-family: "elements";
  src: url(../../assets/fonts/Rubik-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'elements';
}

html, body, #root {
  height: 100%;
  width: 100%;
}
