.container {
	background: linear-gradient(to right, #f0f0f8, #fd9f9b);

  h1 {
    font-size: 6rem;
    font-weight: normal;
    text-align: center;

    margin-bottom: 2rem;
  }

  .pokemons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }

  padding: 0 4rem 10rem;
}
