.container {
  padding: 2rem;
  box-shadow: 0px 5px 31px -2px rgba(0, 0, 0, 0.73);
  border-radius: 1rem;

  width: 20rem;

  > h2 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }

  p {
    font-size: 1.05rem;
    
    > span {
      padding: 0 1rem;
    }
  }

  p:not(:last-child) {
    margin-bottom: 0.8rem;
  }

  &:hover {
    animation: up 0.5s linear;
  }
  &.steel {
    background-color: #f4f4f4;
  }
  
  &.fire {
    background-color: #FDDFDF;
  }
  
  &.grass {
    background-color: #DEFDE0;
  }
  
  &.electric {
    background-color: #FCF7DE;
  }
  
  &.water, &.ice {
    background-color: #DEF3FD;
  }
  
  &.ground {
    background-color: #f4e7da;
  }
  
  &.rock {
    background-color: #d5d5d4;
  }
  
  &.fairy {
    background-color: #fceaff;
  }
  
  &.poison {
    background-color: #98d7a5;
  }
  
  &.bug {
    background-color: #f8d5a3;
  }
  
  &.dragon {
    background-color: #97b3e6;
  }
  
  &.psychic {
    background-color: #eaeda1;
  }
  
  &.flying {
    background-color: #F5F5F5;
  }
  
  &.fighting {
    background-color: #E6E0D4;
  }
  
  &.normal {
    background-color: #F5F5F5;
  }

  @keyframes up {
    20% {
      transform: translateY(-1rem);
    }
    40% {
			transform: translateY(-1rem);
	  }

	  80% {
			transform: translateY(0);
	  }
	  100% {
			transform: translateY(0);
	  }
  }
}
